/*******Main Background Formatting Start****/
html{
  width: 100%; /*Sets the width of the element to 100*/
}
body{
  background-color: #2D2D2A; /*Sets the background colour to be very dark (mostly black) yellow*/
  width: 98.01%; /*Sets the width of the element to 98.01*/
}
/*******Main Background Formatting End****/

/*******Header Formatting Start****/
/* a tag for header*/
a {
  text-decoration: none; /*Removes decorations from text */
  color: #000; /*Sets the font colour to black*/
}

.header {
  border-bottom: 1px solid #ccc; /*Sets a Chinese Silver solid border around the bottom */
  padding: .5em  ; /*Sets the padding to be .5em - em used to define emphasised text*/
  text-align: center; /*Aligns the text to be centered*/
  background: #ffff; /*Sets the background colour to be white*/
  width: 100%; /*Sets the width of the element to 100*/
  height: 90px; /*Sets the height of the element to 90*/
  font-size: 20px; /*Sets the font size*/
  font-family: monospace; /*Sets the font family of the text */
  border: 6px solid #93c0a4; /*Sets a grayish/green cyan solid border around the header container */
  border-radius: 10px; /*Defines the radius of the elements corners - Makes it slightly rounded */
}

h1{
  font-weight: normal; /*Makes the h1 tags be normal weight - No bold, bolder or lighter characters */
}

/*******Logo Formatting Start****/
.header img {
  float: left; /*Lets the logo float to the left of the screen*/
  margin: 0px; /*Sets the margin to be 0px*/
  margin-left: 20px; /*Sets the left margin to be 20px*/
}
/*******Logo Formatting End****/

/*******Dropdown Menu Formatting Start****/
/* Dropdown menu button */
.dropbtn {
  background-color: #ffff; /*Sets the background colour to be white*/
  color: #000; /*Sets the font colour to black*/
  padding: 16px; /*Sets the padding to be 16px*/
  font-size: 20px; /*Sets the font size*/
  font-family: monospace; /*Sets the font family of the text */
  border: none; /*Specifies that no border is used on the dropdown menu button */
  cursor: pointer; /*Specifies that the cursor is to be a pointer and indicates that there is a link */
  margin-right: 50px; /*Sets the right margin to be 50px*/
  border-radius: 10px; /*Defines the radius of the elements corners - Makes it slightly rounded */
  width: 100px; /*Sets the width of the element to 100*/
}

/* Dropdown menu button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #93c0a4; /*Sets the background colour to be grayish/green cyan */
  border-radius: 10px; /*Defines the radius of the elements corners - Makes it slightly rounded */
}

/*The container that is needed to position the dropdown menu content */
.dropdown {
  position: relative; /*This element is positioned relative to its normal position */
  display: inline-block; /*Specifies the containers behaviour - Displays the container as an inline block element */
  float: right; /*Lets the dropdown menu float to the right of the screen*/
  top: 18px; /*Specifies the distance between the dropdown margin and the border of the containing block*/
  margin-right: 20px; /*Sets the right margin to be 20px*/
}

/* Dropdown menu Content */
.dropdown-content {
  display: none; /*Specifies the containers behaviour - The dropdown menu content has no display to it  */
  position: absolute; /*This element is positioned relative to the nearest positioned ancestor */
  background-color: #f1f1f1; /*Sets the background colour to be very light gray*/
  min-width: 160px; /*Sets the minimum width of the dropdown menu content to be 160px */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; /*Specifies the stack order of an element */
  top: 30px; /*Specifies the distance between the content of the dropdown menu margin and the border of the containing block*/
  border-radius: 10px; /*Defines the radius of the elements corners - Makes it slightly rounded */
  font-family: monospace;
}

/* The links inside the dropdown menu */
.dropdown-content a {
  color: #000; /*Sets the font colour to black*/
  padding: 12px 16px; /*Sets the padding to be 12px and 16px*/
  text-decoration: none; /*Removes decorations from text */
  display: block; /*Displays the dropdown menu as a block element - Each tag starts on a new line and takes the whole width up*/
}

/* Changes the colour of the dropdown menu links on hover */
.dropdown-content a:hover {
  background-color: #dddd; /*Sets the background colour to be very light shade of gray*/
}

/* Shows the dropdown menu */
.show {
  display:block; /*Displays the dropdown menu as a block element - Each tag starts on a new line and takes the whole width up*/
  }
/*Dropdown Menu Ends*/
/*******Dropdown Menu Formatting End****/
/*******Header Formatting End****/

/*******Footer Formatting Start****/
.footer {
   position: fixed; /*Positioned relative to the screen - Always stays in the same place when the page is scrolled*/
   left: 0;  /*Specifies the distance between the container margin and the border of the containing block*/
   bottom: 0;  /*Specifies the distance between the container margin and the border of the containing block*/
   width: 100%; /*Sets the width of the element to 100*/
   height: 45px; /*Sets the height of the element to 45*/
   background-color: #ffff; /*Sets the background colour to be white*/
   color: #000; /*Sets the font colour to black*/
   font-family: monospace; /*Sets the font family of the text */
   border: 6px solid #93c0a4; /*Sets a grayish/green cyan solid border around the footer container */
   border-radius: 10px; /*Defines the radius of the elements corners - Makes it slightly rounded */
}
.FooterContainer{
  margin: 0; /*Sets the margin to be 0px*/
  position: absolute; /*This element is positioned relative to the nearest positioned ancestor */
  width: 100%; /*Sets the width of the element to 100*/
  top:50%; /*Specifies the distance between the container margin and the border of the containing block*/
  left:30%;  /*Specifies the distance between the container margin and the border of the containing block*/
  transform: translate(-50%, -50%); /*This moves the element from the current position to -50 and -50*/
}
.PrivacyContainer{
  float: right; /*Lets the container float to the right of the screen*/
  color: #000; /*Sets the font colour to black*/
  font-size: 15px; /*Sets the font size*/

}
.FooterDetailsContainer{
  float: right; /*Lets the container float to the right of the screen*/
  margin-right:25px; /*Sets the right margin to be 25px*/
  color: #000; /*Sets the font colour to black*/
  font-size: 15px; /*Sets the font size*/
  text-align: center; /*Aligns the text to be centered*/
  width: 850px; /*Sets the width of the container to 850*/
}

.TermsandConditionsContainer{
  float: right; /*Lets the container float to the right of the screen*/
  color: #000; /*Sets the font colour to black*/
  margin-right: 40px; /*Sets the right margin to be 40px*/
  font-size: 15px; /*Sets the font size*/
}

.SitemapContainer{
  float: right; /*Lets the container float to the right of the screen*/
  color: #000; /*Sets the font colour to black*/
  margin-right: 30px; /*Sets the right margin to be 30px*/
  font-size: 15px; /*Sets the font size*/
}
/*******Footer Formatting End****/

/*******Homepage Formatting Start****/
.WhatIsACaptchaHeader{
  color: #ffff; /*Sets the font colour to white*/
  width: 190px; /*Sets the width of the element to 190*/
  height: 26px; /*Sets the height of the element to 26*/
  text-align: center; /*Aligns the text to be centered*/
  margin-left: 80px; /*Sets the left margin to be 80px*/
  margin-top: 80px; /*Sets the top margin to be 80px*/
}

.WhatIsACaptchaContainer{
  float: left; /*Lets the container float to the left of the screen*/
  color: #000; /*Sets the font colour to black*/
  border: 4px solid #93c0a4; /*Sets a grayish/green cyan solid border around the container */
  background-color: #ffff; /*Sets the background colour to be white*/
  text-align: center; /*Aligns the text to be centered*/
  width: 1050; /*Sets the width of the element to 1050*/
  margin-left: 80px; /*Sets the left margin to be 80px*/
}

.WhatIsACaptchaContainer > p{
  font-size: 18px; /*Sets the font size*/
}

.WhenToUseACaptchaHeader{
  color: #ffff; /*Sets the font colour to white*/
  width: 230px; /*Sets the width of the element to 230*/
  height: 26px; /*Sets the height of the element to 26*/
  text-align: center; /*Aligns the text to be centered*/
  margin-left: 80px; /*Sets the left margin to be 80px*/
  margin-top: 270px; /*Sets the top margin to be 270px*/
}

.WhenToUseACaptchaContainer{
  float: left; /*Lets the container float to the left of the screen*/
  color: #000; /*Sets the font colour to black*/
  border: 4px solid #93c0a4; /*Sets a grayish/green cyan solid border around the container */
  background-color: #ffff; /*Sets the background colour to be white*/
  text-align: center; /*Aligns the text to be centered*/
  width: 1090; /*Sets the width of the element to 1090*/
  margin-left: 80px; /*Sets the left margin to be 80px*/
}

.WhenToUseACaptchaContainer > p{
  font-size: 18px; /*Sets the font size*/
}

.HomepageImageContainer{
  width: 330px; /*Sets the width of the element to 330*/
  height: 500px; /*Sets the height of the element to 500*/
  float: right; /*Lets the image container float to the right of the screen*/
  margin-top: 55px; /*Sets the top margin to be 55px*/
  margin-right: 140px; /*Sets the right margin to be 140px*/
}

.HomepageImageContainerImages{
  border: 4px solid #93c0a4; /*Sets a grayish/green cyan solid border around the image container */
  background-color: #93c0a4; /*Sets the background colour to be grayish/green cyan*/
}

.ImageCAPTCHAOne{
  margin-left: 5px; /*Sets the left margin to be 5px*/
}

.ImageCAPTCHATwo{
  margin-left: 5px; /*Sets the left margin to be 5px*/
}

.ImageCAPTCHAThree{
  margin-left: 5px; /*Sets the left margin to be 5px*/
}
/*******Homepage Formatting End****/

/*******How Did CAPTCHAs Come About Page Formatting Start****/

.HowDidCaptchasComeAboutHeader > h3{
  color: #ffff; /*Sets the font colour to white*/
  width: 350px; /*Sets the width of the element to 350*/
  height: 26px; /*Sets the height of the element to 26px*/
  font-size: 22px; /*Sets the font size*/
  text-align: center; /*Aligns the text to be centered*/
  position: fixed; /*Positioned relative to the screen - Always stays in the same place when the page is scrolled*/
  top: 140; /*Specifies the distance between the header margin and the border of the containing block*/
  margin-left: 800px; /*Sets the left margin to be 800px*/
}

.HowDidCaptchasComeAboutContainer{
  border: 4px solid #93c0a4; /*Sets a grayish/green cyan solid border around the container */
  background-color: #ffff; /*Sets the background colour to be white*/
  margin-top:78px; /*Sets the top margin to be 78px*/
  width: 1508; /*Sets the width of the element to 1508*/
  margin-left: 230px; /*Sets the left margin to be 230px*/
}

.HowDidCaptchasComeAboutContainer  > p{
  color: #000; /*Sets the font colour to black*/
  font-size: 18px; /*Sets the font size*/
}

#ImageContainer{
  display: flex; /*Specifies the containers behaviour - Displays the container as a block flex container */
  justify-content: center; /*The image will be positioned in the center of the image container*/
}

.imgContainer{
  float: left; /*Lets the image container float to the left of the screen*/
  margin: 20px; /*Sets the margin to be 20px*/
  text-align: center; /*Aligns the text to be centered*/
  color: #ffff; /*Sets the font colour to white*/
  margin-left: 50px; /*Sets the left margin to be 50px*/
}

/*******How Did CAPTCHAs Come About Page Formatting End****/

/*******Popularity Of CAPTCHAs Page Formatting Start****/
.PopularityOfCaptchasHeader > h3{
  color: #ffff; /*Sets the font colour to white*/
  width: 350px; /*Sets the width of the element to 350*/
  height: 26px; /*Sets the height of the element to 26*/
  font-size: 22px; /*Sets the font size*/
  text-align: center; /*Aligns the text to be centered*/
  position: fixed; /*Positioned relative to the screen - Always stays in the same place when the page is scrolled*/
  top: 140; /*Specifies the distance between the header margin and the border of the containing block*/
  margin-left: 800px; /*Sets the left margin to be 800px*/
}

.PopularityOfCaptchasContainer{
  border: 4px solid #93c0a4; /*Sets a grayish/green cyan solid border around the container */
  background-color: #ffff; /*Sets the background colour to be white*/
  margin-top:110px; /*Sets the top margin to be 110px*/
  text-align: center; /*Aligns the text to be centered*/
  width: 1500; /*Sets the width of the element to 1500*/
  margin-left: 190px; /*Sets the left margin to be 190px*/
  margin-top: 70px; /*Sets the top margin to be 270px*/
}

.PopularityOfCaptchasContainer > p{
  color: #000; /*Sets the font colour to black*/
  font-size: 18px; /*Sets the font size*/
}

#PopularityImageContainer{
  display: flex; /*Specifies the containers behaviour - Displays the container as a block flex container */
  justify-content: center; /*The image will be positioned in the center of the image container*/
}

.PopularityImgContainerBox{
  float: left; /*Lets the image container float to the left of the screen*/
  margin: 20px;  /*Sets the margin to be 20px*/
  text-align: center; /*Aligns the text to be centered*/
  margin-left: 50px; /*Sets the left margin to be 50px*/
}

/*******Popularity Of CAPTCHAs Page Formatting End****/

/*******Protecting Websites From Bots And Hackers Page Formatting Start****/
.ProtectingWebsitesHeader > h3{
  color: #ffff; /*Sets the font colour to white*/
  width: 350px; /*Sets the width of the element to 350*/
  height: 26px; /*Sets the height of the element to 26*/
  font-size: 22px; /*Sets the font size*/
  text-align: center; /*Aligns the text to be centered*/
  position: fixed; /*Positioned relative to the screen - Always stays in the same place when the page is scrolled*/
  top: 140; /*Specifies the distance between the header margin and the border of the containing block*/
  margin-left: 800px; /*Sets the left margin to be 800px*/
}

.ProtectingWebsitesFromBotsAndHackersContainer{
  border: 4px solid #93c0a4; /*Sets a grayish/green cyan solid border of 4px around the container */
  background-color: #ffff; /*Sets the background colour to be white*/
  width: 80%; /*Sets the width of the element to 80*/
  margin-top: 168px; /*Sets the top margin to be 168px*/
  margin-left: 230px; /*Sets the left margin to be 230px*/
  position: absolute; /*This element is positioned relative to the nearest positioned ancestor */
}

.accordion {
  background-color: #f9f9f9; /*Sets the background colour to be a very light shade of gray*/
  color: #444; /*Sets the font colour to a dark shade of gray*/
  cursor: pointer; /*Specifies that the cursor is to be a pointer and indicates that there is a link */
  padding: 18px; /*Sets the padding to be 18px*/
  width: 100%; /*Sets the width of the element to 100*/
  border: none; /*Defines that the accordion has no border */
  text-align: left; /*Aligns the text to be left*/
  outline: none; /*No line is drawn around the element or the accordions border to make it stand out */
  font-size: 18px; /*Sets the font size*/
  transition: 0.4s; /*Specifies all four properties to have a smooth transition*/
}

.active, .accordion:hover {
  background-color: #ccc; /*Sets the background colour to be Chinese Silver */
}

.accordion:after {
  content: '\002B'; /*Unicode character for the plus sign (+)*/
  color: #777; /*Sets the font colour to a shade of gray*/
  font-weight: bold; /*Makes the open accordion tags be bold */
  float: right; /*Lets the accordion float to the right of the screen*/
  margin-left: 5px; /*Sets the left margin to be 5px*/
}

.active:after {
  content: "\2212"; /*Unicode character for the minus sign (-)*/
}

.panel {
   padding: 0 18px; /*Sets the padding to be 0px and 18px*/
   background-color: #ffff; /*Sets the background colour to be white*/
   max-height: 0; /*The maximum height of the text (p element) is 0px*/
   overflow: hidden; /*If the content should overflow the container then the overflow will be clipped and the content will be invisble */
   transition: max-height 0.2s ease-out; /*Collapses and expands the accordion panel smoothly and slowley using a fixed max-height value */
   font-size: 18px; /*Sets the font sizex*/
}

/*******Protecting Websites From Bots And Hackers Page Formatting End****/

/*******Employee Login Page Formatting Start****/
.submitbtn {
  background-color: #4CAF50; /*Sets the background colour to be green*/
  width: 100%; /*Sets the width of the element to 100*/
  color: #ffff; /*Sets the font colour to white*/
  padding: 15px; /*Sets the padding to be 15px*/
  margin: 10px 0px; /*Sets the margin to be 10px and 0px*/
  border: none; /*Specifies that no border is used on the submit button */
  cursor: pointer; /*Specifies that the cursor is to be a pointer and indicates that there is a link */
  background-color: #93c0a4; /*Sets the background colour to be grayish/green cyan*/
         }
 form {
  border: 3px solid #f1f1f1; /*Sets a very light shade of gray solid border of 3px around the container */
  width: 50%; /*Sets the width of the element to 50*/
  margin-left: 500px; /*Sets the left margin to be 50px*/
  margin-top: 50px; /*Sets the top margin to be 50px*/
  color: #000000; /*Sets the font colour to black*/
    }

 input[type=text], input[type=password] {
  width: 100%; /*Sets the width of the element to 100*/
  margin: 8px 0; /*Sets the margin to be 8px and 0px*/
  padding: 12px 20px; /*Sets the padding to be 12px amd 20px*/
  display: inline-block; /*Specifies the containers behaviour - Displays the container as an inline-block element */
  border: 2px solid #ffff; /*Sets a border width of 2px and in the colour white; */
  box-sizing: border-box; /*Includes padding and borders in the total width and height of the element*/
    }

 button:hover {
  opacity: 0.7; /*Sets the transparency level*/
    }

  .cancelbtn {
  width: auto; /*The width is calculated by the browser */
  padding: 10px 18px; /*Sets the padding to be 10px and 18px*/
  margin: 10px 5px; /*Sets the margin to be 10px and 5px*/
  background-color: #93c0a4; /*Sets the background colour to be grayish/green cyan*/
    }

 .EmployeeLoginContainer {
  padding: 25px; /*Sets the padding to be 25px*/
  background-color: #C0C0C0; /*Sets the background colour to be silver*/
    }

/*******Employee Login Page Formatting End****/

/*******Contact Us Page Formatting Start****/
.ContactUsContainer > h1{
  font-size: 40px; /*Sets the font size*/
  color: #ffff; /*Sets the font colour to white */
  font-family: monospace; /*Sets the font family of the text */
  height: 200px; /*Sets the height of the element to 200*/
  width: 250px; /*Sets the width of the element to 250*/
  position: fixed; /*Positioned relative to the screen - Always stays in the same place when the page is scrolled*/
  text-align: center; /*Aligns the text to be centered*/
  top: 140; /*Specifies the distance between the header margin and the border of the containing block*/
  margin-left: 830px; /*Sets the left margin to be 830px*/
  z-index: 1; /*Specifies the stack order of an element */
}

.ImageOverlayLEFT {
  position: absolute; /*This element is positioned relative to the nearest positioned ancestor */
  margin-left: 20px; /*Sets the left margin to be 20px*/
  z-index: 1; /*Specifies the stack order of an element */
}

.ImageOverlayRIGHT {
  position: absolute; /*This element is positioned relative to the nearest positioned ancestor */
  margin-right: 20px; /*Sets the right margin to be 20px*/
  z-index: 1; /*Specifies the stack order of an element */
}

.LocationContainer{
  display: inline-block; /*Specifies the containers behaviour - Displays the container as an inline block element */
  top: 120px; /*Specifies the distance between the containers margin and the border of the containing block*/
}

.LocationNameContainer{
  color: #93c0a4; /*Sets the font colour to grayish/green cyan*/
  font-family: monospace; /*Sets the font family of the text */
  font-size: 20px; /*Sets the font size*/
  display: inline; /*Specifies the containers behaviour - Displays the container as an inline element */
  float: right; /*Lets the container float to the right of the screen*/
  margin-left: 20px; /*Sets the left margin to be 20px*/
  margin-bottom: 30px; /*Sets the bottom margin to be 30px*/
  position: relative; /*This element is positioned relative to its normal position */
  bottom: 20px;  /*Specifies the distance between the name container margin and the border of the containing block*/
}

.LocationTextContainer{
  color: #ffff; /*Sets the font colour to white */
  font-family: monospace; /*Sets the font family of the text */
  font-size: 20px; /*Sets the font size*/
  display: inline; /*Specifies the containers behaviour - Displays the container as an inline element */
  margin-left: 20px; /*Sets the left margin to be 20px*/
  margin-bottom: 30px; /*Sets the bottom margin to be 30px*/
  position: relative; /*This element is positioned relative to its normal position */
  bottom: 20px;  /*Specifies the distance between the container margin and the border of the containing block*/
}

.PhoneImage{
  display: inline-block; /*Specifies the containers behaviour - Displays the container as an inline block element */
  top: 320px; /*Specifies the distance between the image margin and the border of the containing block*/
}

.PhoneNameContainer{
  color: #93c0a4; /*Sets the font colour to grayish/green cyan*/
  font-family: monospace; /*Sets the font family of the text */
  font-size: 20px; /*Sets the font size*/
  display: inline; /*Specifies the containers behaviour - Displays the container as an inline element */
  float: right; /*Lets the container float to the right of the screen*/
  margin-left: 20px; /*Sets the left margin to be 20px*/
  margin-bottom: 30px; /*Sets the bottom margin to be 30px*/
  position: relative; /*This element is positioned relative to its normal position */
  bottom: 20px;  /*Specifies the distance between the name container margin and the border of the containing block*/
}

.PhoneTextContainer{
  color: #ffff; /*Sets the font colour to white*/
  font-family: monospace; /*Sets the font family of the text */
  font-size: 20px; /*Sets the font size*/
  display: inline; /*Specifies the containers behaviour - Displays the container as an inline element */
  margin-left: 20px; /*Sets the left margin to be 20px*/
  margin-bottom: 30px; /*Sets the bottom margin to be 30px*/
  position: relative; /*This element is positioned relative to its normal position */
  bottom: 20px;  /*Specifies the distance between the container margin and the border of the containing block*/
}

.EmailImage{
  display: inline-block; /*Specifies the containers behaviour - Displays the container as an inline-block element */
  top: 520px; /*Specifies the distance between the image margin and the border of the containing block*/
}

.EmailNameContainer{
  color: #93c0a4; /*Sets the font colour to grayish/green cyan*/
  font-family: monospace; /*Sets the font family of the text */
  font-size: 20px; /*Sets the font size*/
  display: inline; /*Specifies the containers behaviour - Displays the container as an inline element */
  float: right; /*Lets the container float to the right of the screen*/
  margin-left: 20px; /*Sets the left margin to be 20px*/
  margin-bottom: 30px; /*Sets the bottom margin to be 30px*/
  position: relative; /*This element is positioned relative to its normal position */
  bottom: 20px;  /*Specifies the distance between the name container margin and the border of the containing block*/
}

.EmailTextContainer{
  color: #ffff; /*Sets the font colour to white*/
  font-family: monospace; /*Sets the font family of the text */
  font-size: 20px; /*Sets the font size*/
  display: inline; /*Specifies the containers behaviour - Displays the container as an inline element */
  margin-left: 20px; /*Sets the left margin to be 20px*/
  margin-bottom: 30px; /*Sets the bottom margin to be 30px*/
  position: relative; /*This element is positioned relative to its normal position */
  bottom: 20px;  /*Specifies the distance between the container margin and the border of the containing block*/
}

.MessageFormContainer{
  display: inline; /*Specifies the containers behaviour - Displays the container as an inline element */
  float: right; /*Lets the container float to the right of the screen*/
}
.LocationImage{
  top:0; /*Specifies the distance between the image margin and the border of the containing block*/
  left:0;  /*Specifies the distance between the image margin and the border of the containing block*/
  width:100%; /*Sets the width of the element to 100*/
  height:100%; /*Sets the height of the element to 100*/
  margin:0 0 0 0; /*Sets the margin to be 0px*/
  position: absolute; /*This element is positioned relative to the nearest positioned ancestor */
}
.fadedImage{
  opacity: 0.2; /*Sets the transparency level of the background image in the Contact Us page*/
  z-index: -1; /*Specifies the stack order of an element */
  width:100%; /*Sets the width of the element to 100*/
  height:100%; /*Sets the height of the element to 100*/
}

.ContactSectionContainer{
  width:100%; /*Sets the width of the element to 100*/
  height:79%; /*Sets the height of the element to 79*/
  padding:0; /*Sets the padding to be 0px*/
  position: absolute; /*This element is positioned relative to the nearest positioned ancestor */
}
.ContactSectionContainerLeft{
  top:0; /*Specifies the distance between the containers margin and the border of the containing block*/
  left:0;  /*Specifies the distance between the container margin and the border of the containing block*/
  position: relative; /*This element is positioned relative to its normal position */
  float:left; /*Lets the container float to the left of the screen*/
  width:50%; /*Sets the width of the element to 50*/
  padding-left: 260px; /*Sets the padding to be 260px*/
}
.ContactSectionContainerRight{
  top:0; /*Specifies the distance between the containers margin and the border of the containing block*/
  right:0; /*Specifies the distance between the container margin and the border of the containing block*/
  position: relative; /*This element is positioned relative to its normal position */
  float:right; /*Lets the container float to the right of the screen*/
  width:50%; /*Sets the width of the element to 50*/
  padding: 70px 50px 0 0; /*Sets the padding to be 70px, 50px and 0px*/
}
/*******Contact Us Page Formatting End****/
